

/* barra superior   */
body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-image: url("../img/bg3.jpg");
}

.navbar {
  width: 100%;
  background-color: #8A9B00;
  overflow: auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {

}
.b {
  float: left;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color: #456;
}

.active {
  background-color: #04AA6D;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: auto;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 28px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a2 {

  padding: 8px 8px 8px 28px;
  text-decoration: none;
  font-size: 25px;
  padding-bottom:1px ;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 28px;
  margin: auto;
}
.sas{
    float: right;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 5px;
}
.active{
    background-color: #666;
  color: white;
}

/* fin barra superior   */
/* body  */

.parent {
display: grid;
grid-template-columns: repeat(20, 1fr);
grid-template-rows: repeat(20, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 3 / 20 / 19;
border: 1px solid black;
}
.div2 { grid-area: 2 / 1 / 12 / 3;border: 1px solid black; }
.div3 { grid-area: 12 / 1 / 20 / 3;border: 1px solid black; }
.div4 { grid-area: 2 / 19 / 12 / 21; border: 1px solid black;}
.div5 { grid-area: 12 / 19 / 20 / 21;border: 1px solid black; }
.div6 { grid-area: 20 / 1 / 21 / 21;border: 1px solid black; }
.div7 { grid-area: 2 / 9 / 6 / 13;border: 1px solid black; }
.div8 { grid-area: 2 / 4 / 4 / 9; border: 1px solid black;}
.div9 { grid-area: 4 / 4 / 6 / 9;border: 1px solid black; }
.div10 { grid-area: 2 / 13 / 6 / 19; border: 1px solid black;}
.div11 { grid-area: 7 / 3 / 20 / 16;border: 1px solid black; }
.div12 { grid-area: 7 / 16 / 20 / 19;border: 1px solid black; }
.div13 { grid-area: 1 / 1 / 2 / 21; }
.qw{
  width:100%;
  height: auto;

}

div.unstyledTable {
}
.divTable.unstyledTable .divTableCell, .divTable.unstyledTable .divTableHead {
}
.divTable.unstyledTable .divTableHeading {
  background: #DDDDDD;
}
.divTable.unstyledTable .divTableHeading .divTableHead {
  font-weight: normal;
}
.unstyledTable .tableFootStyle {
  font-weight: bold;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
.A2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: right;
  padding: 3px 2px;
}
.A1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: left;
  padding: 3px 2px;
}

.modal-contenido2{
  background-color:white;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal2{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}


/* fin body */















#main {
  transition: margin-left .5s;
  padding: 0px;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
